<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19827522913-pqso9avo70bpalnse8fi5dc415u2p0pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19827522913-pqso9avo70bpalnse8fi5dc415u2p0pa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>19827522913-qj2t084a1husn9d9piuj1ce9d70v2674.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ZYa6ic0qniPPDlopePIxQf_Zd1zsdUs</string>
	<key>GCM_SENDER_ID</key>
	<string>19827522913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skeen.hack</string>
	<key>PROJECT_ID</key>
	<string>skeen-fd7c8</string>
	<key>STORAGE_BUCKET</key>
	<string>skeen-fd7c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19827522913:ios:822cf2753022fcb6395920</string>
</dict>
</plist>